<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Floating Point Binary Calculator</title>
	<link rel="stylesheet" href="dist/app.css">
	<link rel="stylesheet" href="dist/float.css">
	<script src="dist/angular.js"></script>
	<script src="dist/float.js"></script>
</head>
<body ng-app="app">

<h1>Floating Point Binary</h1>

<main ng-controller="FloatConverter">

	<form class="input">
		<p>
			<label for="decimal">Decimal</label>
			<input id="decimal" ng-model="decimal" type="number">
		</p>
	</form>

	<section class="output">
		<div class="sign" ng-if="bits.sign">
			<p class="bits" ng-bind-html="sign | format_bits"></p>
			<p class="desc">Sign</p>
		</div>

		<div class="exp" ng-if="bits.exp > 0">
			<p class="bits" ng-bind-html="exp | format_bits"></p>
			<p class="desc">Exponent</p>
		</div>

		<div class="mantissa">
			<p class="bits" ng-bind-html="mantissa | format_bits"></p>
			<p class="desc">Mantissa</p>
		</div>
	</section>

	<form class="config">
		<p>
			<label for="sign_bit">Sign Bit</label>
			<input id="sign_bit" ng-model="bits.sign" type="checkbox">
		</p>
		<p>
			<label for="exp_length">Exponent Length</label>
			<input type="number" ng-model="bits.exp" min="0" id="exp_length"> bits
		</p>
		<p>
			<label>Exponent Format</label>
			<label>
				<input type="radio" ng-model="exp_format" value="twos">
				Two's Complement
			</label>
			<label>
				<input type="radio" ng-model="exp_format" value="signed">
				Signed Magnitude
			</label>
		</p>
		<p>
			<label for="mantissa_length">Mantissa Length</label>
			<input type="number" min="1" ng-model="bits.mantissa" id="mantissa_length"> bits
		</p>
		<p>
			<label for="word_length">Word Length</label>
			<input type="number" min="1" ng-model="word_len" ng-model-options="{getterSetter: true}" id="word_length"> bits
		</p>
	</form>

		<div class="steps">
			<section class="calculation">
				<h3>Calculation</h3>

				<p>{{ decimal }} &times; 2<sup>0</sup></p>
				<p>{{ initial_mantissa }} &times; 2<sup>0</sup></p>
				<p>0.{{ mantissa }} &times; 2<sup>{{ exp_decimal }}</sup></p>
				<p>0.{{ mantissa }} &times; 2<sup>{{ exp }}</sup></p>
				<p>{{ bits.sign ? sign : '' }} {{ exp }} {{ mantissa }}</p>
			</section>

			<section class="validation">
				<h3>Validation</h3>

				<table>
					<tr>
						<th>sign</th>
						<td>{{ sign == '1' ? '-' : '+' }}</td>
					</tr>
					<tr>
						<th>exponent</th>
						<td>{{ exp }}<sub>2</sub></td>
					</tr>
					<tr>
						<th></th>
						<td>{{ exp_decimal }}<sub>10</sub></td>
					</tr>
					<tr>
						<th>mantissa</th>
						<td>0.{{ mantissa }}<sub>2</sub></td>
					</tr>
					<tr>
						<th></th>
						<td>{{ mantissa_decimal }}<sub>10</sub></td>
					</tr>
					<tr>
						<th>decimal</th>
						<td>{{ mantissa_decimal }} &times; 2<sup>{{ exp_decimal }}</sup></td>
					</tr>
					<tr>
						<th></th>
						<td>{{ converted_result }}</td>
					</tr>
				</table>
			</section>
		</div>
</main>

<p><a href="https://github.com/sheabunge/bintools">View source on GitHub</a></p>

</body>
</html>
