<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Floating Point Binary Calculator</title>
    <link rel="stylesheet" href="dist/app.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="dist/float.css">

    <script src="dist/angular.js"></script>
    <script src="dist/float.js"></script>
</head>
<body ng-app="FloatConverter">

<h1>Floating Point Binary</h1>

<main ng-controller="Converter">

    <form>
        <p>
            <label for="decimal">Decimal</label>
            <input id="decimal" ng-model="decimal">
        </p>
    </form>

    <div class="output">

        <div class="sign" ng-if="bits.sign">
            <p class="bits" ng-bind-html="sign | format_bits"></p>
            <p class="desc">Sign</p>
        </div>

        <div class="exp" ng-if="bits.exp > 0">
            <p class="bits" ng-bind-html="exp | format_bits"></p>
            <p class="desc">Exponent</p>
        </div>

        <div class="mantissa" ng-if="bits.mantissa > 0">
            <p class="bits" ng-bind-html="mantissa | format_bits"></p>
            <p class="desc">Mantissa</p>
        </div>
    </div>

    <form class="config">
        <p>
            <label for="sign_bit">Sign Bit</label>
            <input id="sign_bit" ng-model="bits.sign" type="checkbox">
        </p>
        <p>
            <label for="exp_length">Exponent Length</label>
            <input type="number" ng-model="bits.exp" id="exp_length"> bits
        </p>
        <p>
            <label>Exponent Format</label>
            <label>
                <input type="radio" ng-model="exp_format" value="twos">
                Two's Complement
            </label>
            <label>
                <input type="radio" ng-model="exp_format" value="signed">
                Signed Magnitude
            </label>
        </p>
        <p>
            <label for="mantissa_length">Mantissa Length</label>
            <input type="number" ng-model="bits.mantissa" id="mantissa_length"> bits
        </p>
        <p>
            <label for="word_length">Word Length</label>
            <input type="number" ng-model="word_len" ng-model-options="{ getterSetter: true }" id="word_length"> bits
        </p>
    </form>

</main>

<p><a href="https://github.com/sheabunge/compsci">View source on GitHub</a></p>
</body>
</html>
